{% extends "template.html.twig" %}

{% block title %} Auteurs {% endblock %}
{% block contents %} 

    <!-- display all authors -->
     <table class="table text-center monTableau" id="tableauLivres">
        <thead>
            <tr class="table-dark">
                <th>Prénom</th>
                <th>Nom</th>
                <th>Nombre de livres</th>

                {% if user_auth %}
                    <th colspan="2">Actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                <td class="align-middle"><a href="/authors/{{author._id}}">{{author.firstName}} </td>
                <td class="align-middle"><a href="/authors/{{author._id}}">{{author.name}} </td>
                <td class="align-middle">{{author.books.length}} </td>

                {% if user_auth %}
                <td class="align-middle"><a href="/authors/update/{{author._id}}" class="btn btn-warning">Modifier</a></td> 
                <td class="align-middle">
                    <form 
                        method="POST" 
                        action="/authors/delete/{{author._id}}"  
                        onSubmit= "return confirm('Voulez-vous vraiment supprimer ?');">
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
                {% endif %}

                </tr>          
            {% endfor %}

        </tbody>
    </table>

    {% if user_auth %}
        <button class="btn btn-success w-100" onClick="displayForm()">Ajouter</button>
    {% endif %}

    <!-- create new author -->
    <form id="addForm" class="d-none" method ="POST" action="">
        <fieldset>
            <legend>Création d'un auteur</legend>
            <div class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text" class="form-control" id="firstName" name="firstName">
            </div>       
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>      
            <div class="form-group">
                <label for="birthDate">Date de naissance</label>
                <input type="number" class="form-control" id="birthDate" name="birthDate">
            </div>
            <button class="btn btn-primary" type="submit">Valider</button>
        </fieldset>
    </form>   
    <script src="/scripts/addBook.js"></script>
{% endblock %}